@font-face {
    font-family: 'qs-light';
    src: url("font/Quicksand-Light.otf") format("opentype");
}

@font-face {
    font-family: 'jfs-light';
    src: url("font/JosefinSans-Light.ttf") format("opentype");
}

/*------------------------------------------------------------------------------------*/

html, body {
    cursor: default;
    /*background-color: #ececea;*/
    font-family: qs-light;
    margin: 0;
    height: 100%;
}

a {
    text-decoration: none;
}

a:visited {
    color: black;
}

a:link {
    color: black;

}

/*------------------------------------------------------------------------------------*/

#nav {
    font-family: jfs-light;
    position: fixed;
    left: 3%;
    top: 30%;
    text-align: center;
}

.nav_item {
    font-size: 20px;
    margin-bottom: 15px;
    display: inline-block;
    border-bottom: 1px solid;
}

.nav_item:hover {
    color: lightslategrey;
    cursor: pointer;
}

#home_img {
    width: 20px;
    height: 20px;
}

#github_img_nav {
    width: 20px;
    height: 20px;
}

/*------------------------------------------------------------------------------------*/

.container {
    height: 100%;
    width: 100%;
    margin: 0;
}

.container:nth-child(2n) {
    background-color: #ececea;
}

.sub_container {
    width: 80%;
    position: relative;
    left: 13%;
    top: 20%;
}


/*------------------------------------------------------------------------------------*/

#name {
    font-family: jfs-light;
    font-size: 30px;
}

#nickname {
    font-family: jfs-light;
    font-size: 20px;
    color: darkgrey;
}

#bio {
    font-family: jfs-light;
    font-size: 25px;
}

/*------------------------------------------------------------------------------------*/

#menu_box {
    margin-top: 30px;
}

.menu_item {
    font-size: 40px;
    margin-bottom: 25px;
    display: inline-block;
}

.menu_item:hover {
    color: lightslategrey;
    cursor: pointer;
}

#github_text {
    border-bottom: 1px solid;
}

#github_img {
    width: 30px;
}

/*------------------------------------------------------------------------------------*/

.headline {
    font-size: 40px;
}

.content {
    margin-top: 30px;
    font-size: 25px;

}
/*------------------------------------------------------------------------------------*/

.skill_img {
    width: 55px;
    height: 55px;
}

.skill_desc {
    font-size: 20px;
    position: relative;
    left: 10px;
}

/*------------------------------------------------------------------------------------*/
.paragraph_symbol {
    width: 25px;
    height: 25px;
}

.paragraph_space {
    height: 20px;
}
